@font-face {
    font-family: 'Sahel';
    src: url('../font/Sahel.woff') format('woff'),
    url('../font/Sahel.woff2') format('woff2'),
    url('../font/Sahel.ttf') format('ttf'),
    url('../font/Sahel.eot') format('eot');
     
}

body{
    font-family: 'Sahel',sans-serif;
}